[user]
    name = Stefan Guseinov
    email = 22242004+mrguseinov@users.noreply.github.com
    signingkey = 4B39B52A46F39ED2

[commit]
    gpgsign = true

# https://stackoverflow.com/q/18308535
[fetch]
    prune = true

# https://superuser.com/a/1572156
[init]
    defaultBranch = main
